body{
    background-color: black;
}
.heading{
    border: 4px solid rgb(102, 236, 131);
    background-color: #1d1d1d;
    border-radius: 100px;
    padding: 2px;
    color: #FF008E;
    font-family: 'Ruda', sans-serif;
    padding-left: 350px;
    border-left-width: 4px;
    margin-left: 300px;
    margin-right: 300px;
    height: 50px;
    font-size: 3rem;
}
.partner{
    
position: absolute;
width: 1065px;
height: 460px;
top: 150px;
left: 220px;

}
img{
    width: 100px;
    margin: 100px;
   border-radius:100% ;
    width: 75%;
    border: 3px #b1be17 solid;
    height: 16rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background: rgba(175, 103, 103, 0.1);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 50%);
    backdrop-filter: blur( 20px );
    border-radius: 80px;
    border: 1px solid rgba(216, 221, 193, 0.18);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center
}

.trell{
    margin-left:50px;
    width: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
}
   
.ensvee{
    margin-right: 50px;
    width: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.firstSide{
    float: left;
    width: 50%;
    margin-left: 50px;
    margin-top: 0px;
}

.trell:hover{
position: absolute;
width: 200px;
height: 200px;
left: 657px;
top: 205px;

}