* {
    /* border: 1px solid white; */
    padding: 0%;
    margin: 0%;
}

body{
    background-color: rgb(13, 14, 13);
    margin: 0%;
    padding: 0%;
    color: white;
}
.heading{
    border: 4px solid white;
    background-color: #1d1d1d;
    border-radius: 100px;
    padding-left: 0px;
    padding-right: 0px;
    color:white;
    box-shadow: 0 8px 32px 0 rgb(243, 7, 180);
    padding-left: 350px;
    border-left-width: 4px;
    font-size: 3rem;
    font-family: 'Lobster', cursive;
    font-weight: 900;
    padding: 9px 50px 14px 50px;
    text-align: center;
}

img{
    border-radius:5rem;
    height: 16rem;
    background: rgba(175, 103, 103, 0.1);
    box-shadow: 0 8px 32px 0 rgb(235, 11, 149);
    backdrop-filter: blur( 20px );
    border: 2px solid white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 9.37rem;
    height: 9.37rem;
    padding-right:9.37rem;
    padding-left: 0.6rem;
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
    margin: 5rem;
}

.awards {
    display: flex;
}

.firstSide{
    /* float: left; */
    /* display: flex; */
    width: 50%;
    text-align: center;
}

.secondSide {
    /* display: flex; */
    width: 50%;
    text-align: center;
}
img:hover{

    padding-right:10rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin: 5rem;;
    width: 10rem;
    height: 10rem;

}
@media (max-width: 425px){
    .awards {
        display: block;
        padding: 0;
        text-align: center;
    }

    .heading {
        width: 100%;
        font-size: 2rem;
    }
}
