* {
    /* border: 1px solid white; */
    padding: 0%;
    margin: 0%;    
}

body{
    background-color: rgb(13, 14, 13);
    margin: 0%;
    padding: 0%;
    color: white;
}
.heading{
    border: 4px solid white;
    background-color: #1d1d1d;
    border-radius: 100px;
    padding-left: 0px;
    padding-right: 0px;
    color:rgb(30, 240, 79);
    box-shadow: 0 8px 32px 0 rgb(243, 7, 180);
    padding-left: 350px;
    border-left-width: 4px;  
    font-size: 3rem;    
    font-family: 'Lobster', cursive;
    font-weight: 900;  
    padding: 9px 50px 14px 50px;
    text-align: center;
}

img{   
    border-radius:5rem;
    height: 16rem;
    background: rgba(175, 103, 103, 0.1);
    box-shadow: 0 8px 32px 0 rgb(235, 11, 149);
    backdrop-filter: blur( 20px );
    border: 1px solid rgba(216, 221, 193, 0.18);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 252px;
    padding-right: 0px;
    height: 152px;
    padding: 5rem;
    margin: 5rem;
}

.awards {
    display: flex;
}

.firstSide{
    /* float: left; */
    /* display: flex; */
    width: 50%;
    margin-left: 130px;
    margin-top: 0px;
}
.trell_info{
    display: none;
    transition: transform 0.8s;
    margin: 5px;
    color: rgb(255, 0, 208);
}

.secondSide {
    /* display: flex; */
    width: 50%;
    text-align: center;
}

@media (max-width: 425px){
    .awards {
        display: block;
        padding: 0;
        text-align: center;
    }

    .heading {
        width: 100%;
        font-size: 2rem;
    }
}