body{
    background-color: black;
}
.heading{
    border: 4px solid white;
    background-color: #1d1d1d;
    border-radius: 100px;
    margin-left: 500px;
    margin-right: 500px;
    padding-left: 0px;
    padding-right: 0px;
    color:white;
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 100%);
    padding-left: 350px;
    border-left-width: 4px;

  
    font-size: 3rem;
    
    font-family: 'Lobster', cursive;
    font-weight: 900;
  
    padding: 9px 50px 14px 50px;
    text-align: center;
}
.partner{
    
position: absolute;
width: 1065px;
height: 460px;
top: 200px;
left: 220px;

}
img{
    width: 100px;
    margin: 100px;
   border-radius:100% ;
    width: 75%;
    border: 3px #b1be17 solid;
    height: 16rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background: rgba(175, 103, 103, 0.1);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 100%);
    backdrop-filter: blur( 20px );
    border-radius: 80px;
    border: 1px solid rgba(216, 221, 193, 0.18);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center
}

.trell{
    margin-left:50px;
    width: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.trell:after{
    padding: 7px;
    box-shadow: 0 0 0 4px #912626;
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(0.8);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.ensvee{
    margin-right: 50px;
    width: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.firstSide{
    float: left;
    width: 50%;
    margin-left: 50px;
    margin-top: 0px;
}
.trell_info{
    display: none;
    transition: transform 0.8s;
    margin: 5px;
    color: aqua;
}

